
*.db
*.db-shm
.vs/CUEORGBPlugin/v16/.suo
.vs/CUEORGBPlugin/v16/Browse.VC.db-wal
.vs/CUEORGBPlugin/v16/Browse.VC.opendb
.vs/CUEORGBPlugin/v16/ipch/1ec06a64a6c4f86.ipch
.vs/CUEORGBPlugin/v16/ipch/68643e07a70ce213.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/11ce7df6f0d933d/HOOK.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/306beae86944fa4/BUFFER.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/3c92720a49927499/DLLMAIN.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/4c08ecadff7d1e2e/RGBCONTROLLER.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/61e22fdb9b9d237f/RGBCONTROLLER_NETWORK.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/6db90fc3c31aa1d3/NETWORKCLIENT.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/757f2cce72e2e9ea/DLLMAIN.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/83027e4f9a54a6e6/MINHOOK.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/d7138a543be9ede/CORSAIRPLUGINDEVICE.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/d9129b772a1e2a9f/CORSAIRPLUGINDEVICEMANAGER.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/df49c5c67e15d04d/CORSAIRPLUGINDEVICEMANAGER.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/e53d65a3158db21c/DLLMAIN.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/f6cd0d56c2d1344f/DLLMAIN.ipch
.vs/CUEORGBPlugin/v16/ipch/AutoPCH/f9f36af27f6193b3/HOOK.ipch
CUEORGBPlugin.vcxproj.user
Debug/CorsairPluginDevice.obj
Debug/CorsairPluginDeviceManager.obj
Debug/CUEORGBPlugin.dll
Debug/CUEORGBPlugin.dll.recipe
Debug/CUEORGBPlugin.exp
Debug/CUEORGBPlugin.ilk
Debug/CUEORGBPlugin.lib
Debug/CUEORGBPlugin.log
Debug/CUEORGBPlugin.pdb
Debug/CUEORGBPlugin.tlog/CL.command.1.tlog
Debug/CUEORGBPlugin.tlog/CL.read.1.tlog
Debug/CUEORGBPlugin.tlog/CL.write.1.tlog
Debug/CUEORGBPlugin.tlog/CUEORGBPlugin.lastbuildstate
Debug/CUEORGBPlugin.tlog/CUEORGBPlugin.write.1u.tlog
Debug/CUEORGBPlugin.tlog/link.34804.delete.1.tlog
Debug/CUEORGBPlugin.tlog/link.command.1.tlog
Debug/CUEORGBPlugin.tlog/link.read.1.tlog
Debug/CUEORGBPlugin.tlog/link.write.1.tlog
Debug/CUEORGBPlugin.vcxproj.FileListAbsolute.txt
Debug/dllmain.obj
Debug/dsound.dll
Debug/dsound.exp
Debug/dsound.ilk
Debug/dsound.lib
Debug/dsound.pdb
Debug/net_port.obj
Debug/NetworkClient.obj
Debug/NetworkProtocol.obj
Debug/RGBController.obj
Debug/RGBController_Network.obj
Debug/vc142.idb
Debug/vc142.pdb
Debug/wrapper.dll
Debug/wrapper.exp
Debug/wrapper.ilk
Debug/wrapper.lib
Debug/wrapper.pdb
Release/CorsairPluginDevice.obj
Release/CorsairPluginDeviceManager.obj
Release/CUEORGBPlugin.dll
Release/CUEORGBPlugin.dll.recipe
Release/CUEORGBPlugin.exp
Release/CUEORGBPlugin.iobj
Release/CUEORGBPlugin.ipdb
Release/CUEORGBPlugin.lib
Release/CUEORGBPlugin.log
Release/CUEORGBPlugin.pdb
Release/CUEORGBPlugin.tlog/CL.command.1.tlog
Release/CUEORGBPlugin.tlog/CL.read.1.tlog
Release/CUEORGBPlugin.tlog/CL.write.1.tlog
Release/CUEORGBPlugin.tlog/CUEORGBPlugin.lastbuildstate
Release/CUEORGBPlugin.tlog/CUEORGBPlugin.write.1u.tlog
Release/CUEORGBPlugin.tlog/link.command.1.tlog
Release/CUEORGBPlugin.tlog/link.delete.1.tlog
Release/CUEORGBPlugin.tlog/link.read.1.tlog
Release/CUEORGBPlugin.tlog/link.write.1.tlog
Release/CUEORGBPlugin.vcxproj.FileListAbsolute.txt
Release/dllmain.obj
Release/dsound.dll
Release/dsound.exp
Release/dsound.iobj
Release/dsound.ipdb
Release/dsound.lib
Release/dsound.pdb
Release/net_port.obj
Release/NetworkClient.obj
Release/NetworkProtocol.obj
Release/RGBController.obj
Release/RGBController_Network.obj
Release/vc142.pdb
wrapper/Debug/buffer.obj
wrapper/Debug/dllmain.obj
wrapper/Debug/dsound.dll.recipe
wrapper/Debug/hde32.obj
wrapper/Debug/hde64.obj
wrapper/Debug/hook.obj
wrapper/Debug/trampoline.obj
wrapper/Debug/vc142.idb
wrapper/Debug/vc142.pdb
wrapper/Debug/wrapper.log
wrapper/Debug/wrapper.tlog/CL.command.1.tlog
wrapper/Debug/wrapper.tlog/CL.read.1.tlog
wrapper/Debug/wrapper.tlog/CL.write.1.tlog
wrapper/Debug/wrapper.tlog/link.command.1.tlog
wrapper/Debug/wrapper.tlog/link.read.1.tlog
wrapper/Debug/wrapper.tlog/link.write.1.tlog
wrapper/Debug/wrapper.tlog/wrapper.lastbuildstate
wrapper/Debug/wrapper.tlog/wrapper.write.1u.tlog
wrapper/Release/buffer.obj
wrapper/Release/dllmain.obj
wrapper/Release/dsound.dll.recipe
wrapper/Release/hde32.obj
wrapper/Release/hde64.obj
wrapper/Release/hook.obj
wrapper/Release/trampoline.obj
wrapper/Release/vc142.pdb
wrapper/Release/wrapper.log
wrapper/Release/wrapper.tlog/CL.command.1.tlog
wrapper/Release/wrapper.tlog/CL.read.1.tlog
wrapper/Release/wrapper.tlog/CL.write.1.tlog
wrapper/Release/wrapper.tlog/link.command.1.tlog
wrapper/Release/wrapper.tlog/link.read.1.tlog
wrapper/Release/wrapper.tlog/link.write.1.tlog
wrapper/Release/wrapper.tlog/wrapper.lastbuildstate
wrapper/Release/wrapper.tlog/wrapper.write.1u.tlog
wrapper/wrapper.vcxproj.user
*.db-wal
*.ipch
*.obj
*.idb
*.pdb
*.tlog
*.log
*.recipe
*.txt
*.dll
*.exp
*.ilk
*.lib
*.iobj
*.ipdb
